button img{
    transition: 1s;
}

button:hover img{
    transform: rotate(180deg);
    transition: 1s;
}

.object_btn {
    width: 100%;
}

.add_object {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_object p {
    text-decoration: underline;
    font-size: 24px;
}
